body{
    font-family: "monstserrat";
    text-align: center;
}

h1, h2 , h3, h4, h5 ,h6{
    font-family: 'Montserrat-bold';
    
}

p{
    color: #8f8f8f;
}
/* heading */
.main-heading{
    font-family: 'Montserrat-black';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;

}
#title{

    background-color: #6b5b95;
    color: #fff;
    text-align: left;
}

.container-fluid{
    padding: 3% 15%;

}


/* navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold; 

}
.nav-item{ 
    padding: 0 18px;

}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrt-Light";
}
/* buttons  */
.login-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
    /* width: 95% ; */
    transform: rotate( 10deg);
}

/* feature box */
#features{
    padding: 7% 15%;
}
.feature-title{
    font-weight: bolder;
}
.feature-box{
    
    padding: 5%;

}
.icon{
    color: #9584c1;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #6b5b95;
}

/* testimonials */
#testimonials{
    
    
    background-color: #6b5b95;
    color: #fff;
}
.testimonial-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
}
.size{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #6b5b95;
    
    
}
.size1{
    width: 20%;
    margin: 20px 20px 20px;


}

.carousel-item{
    padding: 7% 15%;

}
/* pricing section */

#pricing{
    padding: 100px;
}
.price-tag{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;

}
.colum-space{
    padding: 3% 2%;
}

/* cta section */
#cta{
    background-color: #6b5b95;
    color: #fff;
    padding: 7% 15%;
   

}
/* footer section */
#footer{
    padding: 7% 15%;
    
}
.footer-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
    
}